<h3><%= game.get("name") %> Streams</h3>

<div id="streams">
  <% game.streams().each(function (stream) { %>
    <div class="stream">
      <a href="#/games/<%= game.get("id") %>/streams/<%= stream.get("id") %>"
         data-toggle="tooltip" title="<%= stream.get("status") %>">
        <img src="<%= stream.get("preview") %>" alt="<%= stream.get("name") %>-box">
      </a>
      <div class="stream-text">
        <a href="#/games/<%= game.get("id") %>/streams/<%= stream.get("id") %>">
          <%= stream.get("name") %>
        </a>
        Viewers: <%= stream.get("viewers") %>
      </div>
    </div>
  <% }) %>
</div>

<script>
  $("#streams").gridalicious({
    selector: '.stream',
    gutter: 10,
    width: 250,
    animate: true,
    animationOptions: {
      speed: 100
    }
  });
  
  $('[data-toggle="tooltip"]').tooltip();
</script>

