<h3><%= game.get("name") %> Streams</h3>

<div id="streams">
  <% debugger %>
  <% game.streams().each(function (stream) { %>
    <% stream = stream.get("stream") %>
    <div class="stream">
      <a href="#/games/<%= game.get("id") %>/streams/<%= stream.id %>"
         data-toggle="tooltip" title="<%= stream.status %>">
        <img src="<%= stream.preview %>" alt="<%= stream.name %>-box">
      </a>
      <div class="stream-text">
        <a href="#/games/<%= game.get("id") %>/streams/<%= stream.id %>">
          <%= stream.name %>
        </a>
        Viewers: <%= stream.viewers %>
      </div>
    </div>
  <% }) %>
</div>

<script>
  $("#streams").gridalicious({
    selector: '.stream',
    gutter: 10,
    width: 250
  });
  
  $('[data-toggle="tooltip"]').tooltip();
</script>

