<% content_for :body_class, "sign-up-in-page" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default animated fadeInDown">
      <div class="panel-heading">
        <h3 class="panel-title">MoZi Sign In</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="sign-up-in-input"><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, 
                            class: "form-control" %></div>

          <div class="sign-up-in-input"><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", 
                                 class: "form-control" %></div>

          <% if devise_mapping.rememberable? -%>
            <div class="sign-up-in-input"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div>
            <%= f.submit "Sign In", class: "btn btn-info" %>
            <span class="forgot-password">
              <%= link_to "Forgot your password?", 
                          new_password_path(resource_name) %>
            </span>
          </div>
        <% end %>

        <div class="line line-dashed"></div>
        <div class="sign-up-in-label">
          Need an account?
          <%= render "devise/shared/links" %>
          <%= link_to "Sign In as Guest", guest_path,
              class: "btn btn-lg btn-warning btn-sign-up-in"%>
        </div>
      </div>
    </div>
  </div>
</div>