<div id="followed-streams">
  <h1>Followed Streams</h1>
  <% followedStreams.each(function (stream) { %>
    <div class="stream">
      <a href="#/streams/<%= stream.get("id") %>">
        <img src="<%= stream.get("preview") %>" 
             alt="<%= stream.get("name") %>-box">
      </a>
      <div class="stream-text">
          <a href="#" class="unfollow" 
             data-id="<%= stream.get("id") %>"
             data-stream="<%= stream.get("name") %>">Unfollow</a>
      </div>
    </div>
  <% }) %>
</div>

<script>
  $("#followed-streams").gridalicious({
    selector: '.stream',
    gutter: 35,
    width: 230,
    animate: true,
    animationOptions: {
      speed: 100
    }
  });
</script>