<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mozi-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Bootstrap Demo", '#', class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="new-auth-menu">
        <ul class="nav navbar-nav nav-pills">
          <li><%= link_to "Home", '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><%= link_to "About", '#' %></li>
        </ul>
        <ul class="nav nav-navbar navbar-right nav-pills">
          <% if signed_in? %>
          <li>
            <button class="btn dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu nav-navbar">
              <li><%= link_to "Profile", '#' %></li>
              <li><%= button_to "Sign Out", '#', class: "btn btn-primary" %></li>
            </ul>
          </li>

          <% else %>
            <li class="active"><%= link_to "Sign In", '#', data: { toggle: "modal", target: "#myModal" } %></li>
            <li><%= link_to "Sign up", '#' %></li>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>